/fileadmin/templates/bootstrap
/typo3conf/ext/fal_dropbox
/typo3conf/ext/news
/typo3conf/ext/realurl
/typo3conf/ext/phpmyadmin
/typo3conf/ext/templavoila
/typo3conf/ext/static_info_tables

/typo3conf/AdditionalConfiguration.php
/typo3conf/deprecation_*
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/realurl_autoconf.php
/typo3temp/*
/uploads/pics/fal-dropbox-*
/fileadmin/_processed_/*

/.buildpath
/.project
/.settings

/index.php
/t3lib
/typo3
/typo3_src

*~
*.swp
/error_log
