[submodule "typo3_src"]
	path = typo3_src
	url = git://git.typo3.org/TYPO3v4/Core.git
[submodule "fileadmin/twitter-bootstrap"]
	path = fileadmin/twitter-bootstrap
	url = git@github.com:visay/twitter-bootstrap.git
[submodule "typo3conf/ext/templavoila"]
	path = typo3conf/ext/templavoila
	url = git://git.typo3.org/TYPO3v4/Extensions/templavoila.git
