/fileadmin/templates/bootstrap/
/typo3conf/ext/*

/typo3conf/AdditionalConfiguration.php

/typo3temp/*
/uploads/tx_footballmanager/*
/uploads/pics/*

/.idea/

/index.php
/typo3
/typo3_src
/cgi-bin/

*~
*.swp
/error_log
