[submodule "typo3_src"]
	path = typo3_src
	url = git://git.typo3.org/TYPO3v4/Core.git
[submodule "typo3conf/ext/templavoila"]
	path = typo3conf/ext/templavoila
	url = git://git.typo3.org/TYPO3v4/Extensions/templavoila.git
[submodule "typo3conf/ext/dam"]
	path = typo3conf/ext/dam
	url = git://git.typo3.org/TYPO3v4/Extensions/dam.git
[submodule "typo3conf/ext/dam_catedit"]
	path = typo3conf/ext/dam_catedit
	url = git://git.typo3.org/TYPO3v4/Extensions/dam_catedit.git
[submodule "typo3conf/ext/dam_index"]
	path = typo3conf/ext/dam_index
	url = git://git.typo3.org/TYPO3v4/Extensions/dam_index.git
[submodule "typo3conf/ext/dam_ttcontent"]
	path = typo3conf/ext/dam_ttcontent
	url = git://git.typo3.org/TYPO3v4/Extensions/dam_ttcontent.git
[submodule "typo3conf/ext/realurl"]
	path = typo3conf/ext/realurl
	url = git://git.typo3.org/TYPO3v4/Extensions/realurl.git
[submodule "fileadmin/templates/bootstrap"]
	path = fileadmin/templates/bootstrap
	url = git://github.com/twitter/bootstrap.git
