[submodule "typo3conf/ext/templavoila"]
	path = typo3conf/ext/templavoila
	url = git://git.typo3.org/TYPO3v4/Extensions/templavoila.git
[submodule "typo3conf/ext/realurl"]
	path = typo3conf/ext/realurl
	url = git://git.typo3.org/TYPO3v4/Extensions/realurl.git
[submodule "fileadmin/templates/bootstrap"]
	path = fileadmin/templates/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "typo3conf/ext/news"]
	path = typo3conf/ext/news
	url = git://git.typo3.org/TYPO3v4/Extensions/news.git
[submodule "typo3conf/ext/fal_dropbox"]
	path = typo3conf/ext/fal_dropbox
	url = git://github.com/froemken/fal_dropbox.git
