/prettygreenplants.com/

/fileadmin/templates/bootstrap/
/typo3conf/ext/*
!/typo3conf/ext/formhandler/

/typo3conf/AdditionalConfiguration.php

/typo3temp/*
/uploads/tx_footballmanager/*
/uploads/pics/*

/index.php
/typo3
/typo3_src
/cgi-bin/
/vendor/

*~
*.swp
/error_log
