<?php

if (!defined ('TYPO3_MODE')) {
	die ('Access denied.');
}

## Database connection
$GLOBALS['TYPO3_CONF_VARS']['DB']['database'] = 'visay_info';
$GLOBALS['TYPO3_CONF_VARS']['DB']['password'] = 'ess:3';
$GLOBALS['TYPO3_CONF_VARS']['DB']['username'] = 'root';
